<div class="layout">
    <div class="flex flex--col">
        <div class="title" style="font-size:32px;">
            {{ title.english}} - {{ title.native }}
        </div>
        <div class="flex flex--row">
            <div class="flex flex--col">
                <img class="image-dither h--80" src="{{ coverImage.medium}}" alt="{{{ title.english}}"/>
            </div>
            <div class="flex flex--col">
                <div class="flex flex--col">
                    <div class="flex flex--row">
                        <span class="text--bold" style="font-size:32px;">Rating:</span>
                        <span class="text--bold" style="font-size:32px;">{{ averageScore }}%</span>
                    </div>
                    <div class="flex flex--row">
                        <span class="text--bold"  style="font-size:24px;">Run:</span>
                        <span class="text--bold" style="font-size:24px;"> {{ startDate.month }}/{{ startDate.year }} - {{ endDate.month }}/{{  endDate.year }}</span>
                    </div>
                </div>
                <div class="genreList">
                    Genres:
                    {% for genre in  genres %}
                        <span class="tag">{{ genre }}{% unless forloop.last %}, {% endunless %}</span>
                    {% endfor %}
                </div>
                <div class="description">
                    <p class="text--center clamp--8" style="word-break: keep-all;">{{ description}}</p>
                </div>
                <div class="studios">
                    Studios: 
                    {% for studio in  studios.nodes %}
                        <span class="tag">{{ studio.name }}{% unless forloop.last %}, {% endunless %}</span>
                    {% endfor %}
                </div>
                <div>
                    <span class="text--bold" style="font-size:24px;">Number of Episodes:</span>
                    <span class="text--bold" style="font-size:24px;"> {{ episodes }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="title_bar">
    <span class="title">Anilist</span>
    <span class="instance">Anime of the Day</span>
</div>